div.info{
   position: -webkit-sticky;
   position: fixed;
    top: 0;
    background-color: rebeccapurple;
    border: 2px solid black;
   width: 100vw;
   height: 15vh;
   box-shadow: black;
   font-size: 50px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}

#home{
    background-color: teal;
    background-size: 77%;
    background-position: left;
    color: black;
    font-size: 23px;
    height: 100%;
    width: 100%;
   
}
#me{
    
    background-color: rebeccapurple;

  
}


.written-about-me{
    font-size: 25px;
    background-color: rebeccapurple;

    
    
}
.images{
    flex: 50%;
}
.myPhoto{
    float: right;
    margin-top: 7%;
    margin-right: 4%;
}

#project{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    background-color: rebeccapurple;
}
#experience{
    font-size: 25px;
    background-color:teal;
}

#contact{
    display: grid;
    grid-template-columns: 7% 7% 7% 7%;
    width: 100%;
    background-color: rebeccapurple;
}
#contact div{
    margin-left: 30%;
}

.container{
    background-color: teal;
}
.container .skills{
    color: black;
}



.never-forget{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAGnpZBLnhlXY1ZBz2CFSG21tTu1uNmCJy_g&usqp=CAU);
width: fit-content;
}


.buttons a {
    font-size: 16px;
  }
  .buttons a:hover {
    cursor:pointer; 
    font-size: 16px;
  }

#enter{
    display: inline;

}

#home img{
    height: 72vh;
    margin-left: 50%;
}

.home{
    box-shadow: black;
    padding: 10px;
    font-size: 10px;
    margin-left: 30%;
    color: teal;
}

.about{
    box-shadow: black;
    padding: 10px;
    color: teal;
    
}

.experience{
    box-shadow: black;
    padding: 10px;
    color: teal;
    
}
.experiences{
    margin-top: 0%;
    padding-top: 3%;
}

.projects{
    box-shadow: black;
    padding: 10px;
    color: teal;
    
}

.skills{
    box-shadow: black;
    padding: 10px;
    color: teal;
    
}

.contact{
    box-shadow: black;
    padding: 10px;
    color: teal;
    
}
main{
    width: 100%;
}

h1{
    margin: 0%;
}
h2{
    margin: 0%;
    padding-top: 3%;
}
