div.info{
   position: -webkit-sticky;
   position: fixed;
    top: 0;
    background-color: rgb(205, 175, 235);
    border: 2px solid black;
   width: 100vw;
   height: 15vh;
   box-shadow: black;
   font-size: 50px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}
body{
    background-color: rgb(197, 230, 230);
}

.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 70%;
}
div{
    display: block;
    border: 3px black solid;
    width: 50%;
}
.svgImg{
opacity: 0.8;
}

#home{
    border: 2px black solid;
    width: 50%;
    display: block;

    background-color: teal;
    background-size: 77%;
    background-position: left;
    color: black;
    font-size: 18px;
    height: auto;
    
   
}

.images{
    flex: 50%;
}
.myPhoto{
    float: right;
    margin-top: 7%;
    margin-right: 4%;
}

#project{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    background-color: teal;
}

.container{
    background-color: teal;
    display: grid;
}


.buttons a {
    font-size: 16px;
  }
  .buttons a:hover {
    cursor:pointer; 
    font-size: 16px;
  }



#home img{
    height: 20vh;
    position: fixed;
    opacity: 0.5;
    margin-left: 50%;
}

.home{
    box-shadow: black;
    padding: 10px;
    font-size: 10px;
    margin-left: 30%;
    color: teal;
}

.about{
    box-shadow: black;
    padding: 10px;
    color: teal;
    
}




.projects{
    box-shadow: black;
    padding: 2px;
    color: teal;
    
}

.skills{
    box-shadow: black;
    padding: 10px;
    color: teal;
    
}



