
body{
    margin: 0%;
    background-color: rgb(197, 230, 230);
}
header{
    position: relative;
}
/* main{
    display: flex;
} */
.navBar{
    display: flex;
    height: 15.0vh;
    background-color: rgb(205, 175, 235);
   margin: 0%;
   border-top: 1px black solid;
   border-bottom: 1px black solid;
}
.navLi{
   position: fixed;
   box-shadow: black;
   display: flex;
   margin-left: 60%;
   margin-top: 2%;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navBar h2{
    position: absolute;
    width: 30vw;
   left: 20%;
    top: 3%;
    font-size: 40px;
    
}

#navElement{
 display: block;
 flex-wrap: nowrap;
 align-items: flex-end;
 padding: 13px;
 font-size: 20px;
 margin-left: 0%;
 color:rebeccapurple;
}
li{
    padding: 3%;
    padding-bottom: 3%;
    float: right;
}
.navImg{
    left: 0%;
    width: 20vw;
    height: auto;
    display: inline;
    padding-top: 5px;
    z-index: 0;
    margin-top: -4.6%;
    margin-left: -3%;
}
  .navBar a:hover {
    cursor:pointer; 
  }

.parent{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: left;
    width: 70%;
}

.svgImg{
opacity: 0.76;
position: fixed;
top: 25%;
left: 55%;

width: 100vh;
}

.myPhoto{
    position: relative;
    width: 30%;
}
.text{
    text-align: center;
    padding-top: 7%;
}

.project{
    display: flex;
    flex-direction: column;
    background-color: teal;
}

.container{
    background-color: teal;
    display: grid;
    color: black;
}


#home img{
    height: 37vh;
    position: fixed;
    opacity: 0.5;
    margin-left: 25%;
    margin-top: 5%;
}

.skill img{
    height: 15%;

}

.contact svg{
    height: 30px;
    align-items: center;
}

footer{
    background-color: rgb(205, 175, 235);
    margin: 0%;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.note{
    margin-left: 30%;
}

.gif{
    width: 25vw;
}

div{
    background-color: rgb(7, 105, 105);
    width: 40vw;
    height: 80vh;
}

.icon1{
    height: 40px;
    margin-left: 35%;
 }

 button{
     margin-left: 40%;
 }

 label{
     margin-top: 40%;
 }

 label{
     margin-top: 150px;
 }

li{
    display: inline-block;
}
.skill{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;


}
.card{
    width:  30%;
    display: flex;
    flex-direction: column;
    border:  1px solid  rebeccapurple;
}

.header{
    height: 30%;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
}

/* @media screen and (max-width: 800px) {
   
    body{
        margin: 0%;
        background-color: rgb(197, 230, 230);
    }
    header{
        position: relative;
    }
    .navBar{
        display: flex;
        width: 100%;
        background-color: rgb(205, 175, 235);
       margin: 0%;
       border-top: 1px black solid;
       border-bottom: 1px black solid;
    }
    .navLi{
       position: fixed;
       box-shadow: black;
       display: flex;
       margin-left: 60%;
       margin-top: 2%;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .navBar h2{
        position: absolute;
        width: 100%;
       left: 20%;
        top: 3%;
        font-size: 40px;
        
    }
    
    #navElement{
     display: block;
     flex-wrap: nowrap;
     align-items: flex-end;
     padding: 13px;
     font-size: 23px;
     margin-left: 0%;
     color:rebeccapurple;
    }
    li{
        padding: 3%;
        padding-bottom: 3%;
        float: right;
    }
    .navImg{
        left: 0%;
        width: 20vw;
        height: auto;
        display: inline;
        padding-top: 5px;
        z-index: 0;
        margin-top: -4.6%;
        margin-left: -3%;
    }
      .navBar a:hover {
        cursor:pointer; 
      }
    
    .parent{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: left;
        width: 70%;
    }
    
    .svgImg{
    opacity: 0.76;
    position: static;
    top: 25%;
    left: 55%;
    width: 0vh;
    }
    
    .myPhoto{
        position: relative;
        width: 30%;
    }
    .text{
        text-align: center;
        padding-top: 7%;
    }
    
    .project{
        display: flex;
        flex-direction: column;
        background-color: teal;
    }
    
    .container{
        background-color: teal;
        width: 100%;
        display: grid;
        color: black;
    }
    
    
    #home img{
        height: 37vh;
        position: fixed;
        opacity: 0.5;
        margin-left: 25%;
        margin-top: 5%;
    }
    
    .skill img{
        height: 15%;
    
    }
    
    .contact svg{
        height: 30px;
        align-items: center;
    }
    
    footer{
        background-color: rgb(205, 175, 235);
        margin: 0%;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
    }
    
    .note{
        margin-left: 30%;
    }
    
    .gif{
        width: 25vw;
    }
    
    div{
        background-color: rgb(7, 105, 105);
        width: 40vw;
        height: 80vh;
    }
    
    .icon1{
        height: 40px;
        margin-left: 35%;
     }
    
     button{
         margin-left: 40%;
     }
    
     label{
         margin-top: 40%;
     }
    
     label{
         margin-top: 150px;
     }
    
    li{
        display: inline-block;
    }
    .skill{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    
    
    }
    .card{
        width:  100%;
        display: flex;
        flex-direction: column;
        border:  1px solid  rebeccapurple;
    }
    
    .header{
        height: 100%;
        background-color: rebeccapurple;
        color: white;
        text-align: center;
    }
} */