
body{
    margin: 0%;
    background-color: rgb(197, 230, 230);
}
header{
    position: relative;
}
main{
    display: flex;
}
.navBar{
    display: flex;
    height: 15.0vh;
    background-color: rgb(205, 175, 235);
   margin: 0%;
   border-top: 1px black solid;
   border-bottom: 1px black solid;
}
.navLi{
   position: fixed;
   box-shadow: black;
   display: flex;
   margin-left: 60%;
   margin-top: 2%;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navBar h2{
    position: absolute;
    width: 30vw;
   left: 20%;
    top: 3%;
    font-size: 40px;
    
}

#navElement{
 display: block;
 flex-wrap: nowrap;
 align-items: flex-end;
 /* justify-content: space-evenly; */
 /* box-shadow: black; */
 padding: 13px;
 font-size: 23px;
 margin-left: 0%;
 color:rebeccapurple;
}
li{
    /* display: inline; */
    padding: 3%;
    padding-bottom: 3%;
    float: right;
}
.navImg{
    left: 0%;
    width: 20vw;
    height: auto;
    display: inline;
    padding-top: 5px;
    z-index: 0;
    margin-top: -4.6%;
    margin-left: -3%;
}
  .navBar a:hover {
    cursor:pointer; 
  }

.parent{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    /* height: 70%; */
}

.svgImg{
opacity: 0.76;
position: fixed;
top: 25%;
left: 55%;

width: 100vh;
}

.myPhoto{
    position: relative;
    width: 40%;
   padding-left: 27%;
   padding-top: 4%;
}
.text{
    text-align: center;
    padding-top: 7%;
}

#project{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    background-color: teal;
}

.container{
    background-color: teal;
    display: grid;
}


#home img{
    height: 37vh;
    position: fixed;
    opacity: 0.5;
    margin-left: 25%;
    margin-top: 5%;
}

.aboutDiv{
    box-shadow: black;
    padding: 10px;
    background-color: rgb(7, 105, 105);
    
}


.skillDiv{
    display: grid;
    grid-template-columns: 20% 20%;
    justify-content: center;
    gap: 5%;
    padding-bottom: 10%;
    
}
.child{
    width: 100px;
    height: auto;
    min-height: 105px;

}

.tags svg{
    height: 10px;
}

footer{
    background-color: rgb(205, 175, 235);
    margin: 0%;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.note{
    margin-left: 30%;
}

.gif{
    width: 25vw;
}

div{
    background-color: rgb(7, 105, 105);
    width: 40vw;
    height: 80vh;
}

.icon1{
   height: 40px;
   margin-left: 140px;
}
.icon2{
    height: 40px;
   margin-left: 25px;
 }
 .icon3{
    height: 40px;
    margin-left: 25px;
 }
 .icon4{
    height: 40px;
    margin-left: 25px;
 }

 label{
     margin-top: 150px;
 }

 .project-child1{
     display: inline;
     padding-left: 20%;
 }

 .project-child2{
    display: inline;
}

li{
    display: inline-block;
}